.site-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* fr = fractional*/
    grid-gap: 1em;
    
};

.body{
    background:lightskyblue
}

.site-wrap > div {
    background: blue;
}

.header{
    grid-template-areas: "header, header, header, header"
}

.mini-icon{
    max-width: 40px;
}

.card {
    background: pink;
    margin: 30px
}
